Source: py3curl-wrapper
Section: python
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python3-all (>= 3.5~),
Standards-Version: 4.0.0
X-Python-Version: >= 3.5

Package: py3curl-wrapper
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-pycurl,
Suggests:
 python3-profiler,
Description: Simplified wrapper for python3-pycurl (python3).
